/* por ahora le doy algunos estilos para poder encontrarlos rapidamente al editar */

header{
    background-color: rgb(25, 64, 64);
    align-items: center;
    justify-content: space-between;
}    

header nav ul{
    list-style-type: none;
    display: flex;
}

header nav ul li{
    margin: 20px;
    text-align: center;
}

header nav ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    background-color: darkorange;
}

a{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}


.banner{
    background-color: brown;
}
footer{
    background-color: rgb(255, 227, 231);
}

.RRSS{
    color: blueviolet;
}

.titulo_rrss{
    color: green;
}

.nombre{
    color: darkred;
}

.container-cards{
    background-color: blueviolet;
    
}
.cards{
    background-color: aqua;
    width: 25%;
    text-align: center;
}

.cards a{
    font-family: 'Times New Roman', Times, serif;
}

.cards p{
    padding: 15px;
}

.cards a{
    padding: 15px;
    align-items: center;
    
}