.cards{
    background-color: aqua;
    width: 25%;
    text-align: center;
}

.cards a{
    font-family: 'Times New Roman', Times, serif;
}

.cards p{
    padding: 15px;
}

.cards a{
    padding: 15px;
    align-items: center;
    
}