header{
    background-color: rgb(25, 64, 64);
    align-items: center;
    justify-content: space-between;
    nav {
        display: none;  
        ul{
        list-style-type: none;
        display: flex;
        li{
            margin: 20px;
            text-align: center;
            a{
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }
}