.cards{
    background-color: aqua;
    width: 25%;
    text-align: center;
    .a{
        font-family: 'Times New Roman', Times, serif;
    .p{
            padding: 15px;
    }
    }
}

.container-cards{
    background-color: blueviolet;
    
}