main{
    h2{
        text-align: center;
        background-color: aquamarine;
        margin-bottom: 30px;
        }
    }
    section{
        margin-left: 150px;
        margin-right: 150px;
    .divulgación{
        p{

        }
    }
    }